@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:ital,wght@0,700;1,400&display=swap');

:root{
    --montserrat:  'Montserrat', sans-serif;
    --playfair: 'Playfair Display', serif;
}

.txt--montserrat{
    font-family: var(--montserrat);
}

.txt--playfair{
    font-family: var(--playfair);
}

.txt--regular{
    font-weight: 400;
}

.txt--medium{
    font-weight: 500;
}

.txt--bold{
    font-weight: 700;
}

.txt--italic{
    font-style: italic;
}

.txt--upper{
    text-transform: uppercase;
}

.txt--s{
    font-size: 0.8rem;
}

.txt--m{
    font-size: 1rem;
}

.txt--l{
    font-size: 1.2rem;
}

.txt--xl{
    font-size: 2rem;
}